body {
  font-size: 25px;
  background: #caf0f8;
}

h1 {
  text-align: center;
  margin: 30px 0 0 0;
  font-family: 'Mansalva', cursive;
  font-size: 43px;
  color: #f28482;
  text-shadow: 2px 1px 3px black;
}

h2 {
  text-align: center;
  font-family: 'Hi Melody', cursive;
  font-size: 28px;
}

#formContainer {
  font-family: 'Hi Melody', cursive;
  background: #f9d6d5;
  font-size: 22px;
  display: flex;
  justify-content: center;
  width: 280px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

input {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  display: flex;
  margin: 0 0 15px 0;
  width: 225px;
}

#storySection {
  font-family: 'Dosis', sans-serif;
  width: 500px;
  margin: 0 auto;
  background: #f9d6d5;
  border: 1px solid black;
  border-radius: 10px;
  padding: 22px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

span {
  color: #f28482;
  font-family: 'Mansalva', cursive;
  font-size: 25px;
}

button {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  display: flex;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  background: #f28482;
  padding: 3px 6px;
}

button:hover {
  background: #ffaaa8;
}

button:active {
  background: white;
  color: #ffaaa8;
}

footer {
  text-align: center;
  font-size: 23px;
  margin: 10px;
  font-family: 'Hi Melody', cursive;
}

#restart {
  margin: 30px auto;
}

.hide {
  display: none;
}
